@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Open+Sans:wght@300&family=Shadows+Into+Light&family=The+Nautigal:wght@700&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
   background-color: black;
   color: white;
}
 .head{
    background-image: url(assest/netflix.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;
    position: relative;
    z-index: 1;
 }
 .opacity{
    position: absolute;
    background-color: black;
    height: 110vh;
    width: 100%;
    opacity: 0.8;
    z-index:-1;
 }



 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
 }

 nav .logo{
    color: red;
    font-size: 50px;
    margin: 10px 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

 }
 .button{
  margin: 10px 40px;
 }
 .langauge{
    background-color: #0f0f0f;
    color: white;
    width: 7rem;
    height: 2rem;    
    font-weight: 600;
    /* border: 1px groove whitesmoke; */
    border: none;
    outline: 1px groove whitesmoke;
    letter-spacing: 1px;
    border-radius: 4px;
 }
 .signin{
    margin-left: 10px;
    background-color:red;
    color: white;
    border: none;
    width: 5rem;
    height: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 4px;
 }
 .content{ 
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align:center;
   height: 95vh;
   position: relative;
   
 }

 .content> :nth-child(1){
   font-size: 3rem;
   color: white;

 }

 .content p{
   margin:10px auto;
   color:white;
   font-size:30px;
 }

 .input-field{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;

 }
 .input-field input{
  background-color:transparent;
  height:58px;
  width: 500px;
  border:0.5px groove rgb(96, 93, 93);
  border-radius: 3px;
  padding:10px;
  color: white;
  font-size: 25px;
  margin: 10px;
 }
 .input-field button{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  height:58px;
  width: 180px;   
  background-color: red;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color:white;
  padding-left: 10px;
 }

 .input-field button span{
  font-size: 50px;
 }

 .space{
   height: 10px;
   background-color: #232323;
 }

 .secondContent{
   margin: 20px auto;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;

 }

 .textContent p{
   font-size: 25px;
   letter-spacing:1px;
   margin: auto;
 }
 .textContent .heading{
   margin: 20px auto;
   font-size: 50px;
   font-weight: 900;
 }
 .imageAndVideo{
   position: relative;
 }

 .imageAndVideo video{
   position: absolute;
   top: 95px;
   right: 76px;
   background-color: transparent;
   z-index: -1;
 }

 .thirdContent{
   display: flex;
   flex-direction: row-reverse;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: 75px auto;
 }

 .imageContent {
   position: relative;
 }

 .imageCard{
   height: 6rem;
   width: 22rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   left: 150px;
   border: 2px solid gray;
   border-radius: 10px;
   bottom: 20px;
   background-color: black;
   background-position:left center ;
   background-size: contain;
   padding: 10px ;
 }
 .imageCard img{
   height: 5rem;  
   width: 4rem; 
 }

.paraContent :nth-child(1){
   font-weight: 600;
}
.paraContent :nth-child(2){
   color: blue;
}
.circle{
   height: 50px;
   width: 50px;
   border-radius: 50%;
   border: 2px groove gray;
}

.forthContent{
   margin: 50px auto;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;

}

.forthimageAndVideo{
   position: relative;
   background-position: center;
   background-size: contain;
 }

 .forthimageAndVideo video{
   position: absolute;
   width: 400px;
   top: 30px;
   right: 115px;
   z-index: -1;
 }

 .fifthContent{
   margin:75px auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap-reverse;
 }

 .fifthContent .heading{
   margin: 20px auto;
   font-size: 50px;
   font-weight: 900;
 }
 .fifthContent p{
   font-size: 25px;
   letter-spacing: 1px;
   margin: auto;
 }
.askedQuestion .heading{
   font-weight: 900;
   font-size: 50px;
   text-align: center;
   margin: 100px auto 50px auto;

}

.questionContainer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   height: 100px;
   width: 80%;
   background-color: #232323;
   margin: 20px auto;
   padding: 20px;
   cursor: pointer;


 }

.questionContainer .question{   
   font-weight: 700;
   font-size: 25px; 
}

.material-symbols-outlined {  
  font-size:80px;
  font-weight: 100;
}

.lower-content p{
  font-size: 20px;
  text-align: center;
  margin: 25px 0px -10px -20px;

}

.footer-area{
  width: 70vw;
  margin: 50px auto;
  color: gray; 
}
.footer-area .question{
  margin: auto auto 25px 9px;

  font-weight: 700;
 
}

footer .row-one{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;  
}

.row-one a{
  margin: 10px;
  color:white;
  font-size: 15px;
  text-align: left;
  width: 10rem;

}

footer button{
  background-color: #0f0f0f;
  color: white;
  width: 7rem;
  height: 2rem;
  font-weight: 600;
  border: 1px groove whitesmoke;
  letter-spacing: 1px;
  border-radius: 4px;
  margin: 30px auto;
}

footer >:last-child{
  margin-bottom: 100px;
  font-size: 15px;
  font-weight: 900;
  color: gray;
}