*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #151a4b18;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 60vh;
    width: 20vw;
    border: 2px solid white;
    border-radius: 20px;
    background: white;
    text-align: center;
    padding: 20px;

}
.box img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius:10px; 
}

.box h3{
    color: red;    
}

.btn{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;    
    cursor: pointer;
    color: white;
    background-color: rgb(17, 131, 64);
    border: none;
}
